# Working with SQLite DB from Python

In [2]:
# Importing required libraries
import sqlite3

In [3]:
# Create a connection object to SQLite database (create a new db if not exists)
db = sqlite3.connect('company.db')

In [4]:
# Create a cusror
c = db.cursor()

In [5]:
# Execute CREATE TABLE query
c.execute("CREATE TABLE company(Id int, Name text, Age int, Address text, Salary real)")

In [6]:
# Execute INSERT INTO <tablename> query
c.execute("INSERT INTO company VALUES(1, 'Amrit', 37, 'Panskura', 52000.00)")
c.execute("INSERT INTO company VALUES(2, 'Abheer', 35, 'Pune', 80000.50)")
c.execute("INSERT INTO company VALUES(3, 'Praneet', 39, 'Nagpur', 42000.00)")

In [7]:
# Execute SELECT query to fetch records from table
records = c.execute("SELECT * FROM company")

In [8]:
# Dispaly record one by one (tuple format)
for record in records:
    print(record)

(1, 'Amrit', 37, 'Panskura', 52000.0)
(2, 'Abheer', 35, 'Pune', 80000.5)
(3, 'Praneet', 39, 'Nagpur', 42000.0)

In [9]:
# Execute SELECT query with WHERE clause 
filtered_data = c.execute("SELECT * FROM company where Age > 35")
for record in filtered_data:
    print(record)

(1, 'Amrit', 37, 'Panskura', 52000.0)
(3, 'Praneet', 39, 'Nagpur', 42000.0)

In [10]:
# Execute SELECT query with ORDER BY clause 
filtered_data = c.execute("SELECT Id,Name FROM company ORDER BY Age")
for record in filtered_data:
    print(record)

(2, 'Abheer')
(1, 'Amrit')
(3, 'Praneet')

In [12]:
# DELETE Specific set of records based on criteria
c.execute("DELETE FROM company WHERE Age > 37")
records = c.execute("SELECT * FROM company")
for record in records:
    print(record)

(1, 'Amrit', 37, 'Panskura', 52000.0)
(2, 'Abheer', 35, 'Pune', 80000.5)

In [13]:
# DROP entire Table
c.execute("DROP TABLE employee")

# Throwing an error as employee table is not present in company database

OperationalError: no such table: employee

In [14]:
# Drop entire Table if TABLE EXISTS
c.execute("DROP TABLE IF EXISTS employee")

# In this case no error as it checks existance of table before dropping